image: python:3.6

stages:
  - test

test_ingest_to_upload:
  stage: test
  script:
     - python -m unittest tests.test_ingest.TestRun.test_ss2_ingest_to_upload
  only:
    - dev
    - integration
    - staging

test_primary_submission:
  stage: test
  script:
     - python -m unittest tests.test_ingest.TestRun.test_ss2_ingest_to_dss
  only:
    - dev
    - integration
    - staging

test_secondary_submission:
  stage: test
  script:
     - python -m unittest tests.test_ingest.TestRun.test_10x_analysis_run
  only:
    - dev
    - integration
    - staging

test_big_submission:
  stage: test
  script:
     - python -m unittest tests.test_ingest.TestRun.test_big_submission_run
  only:
    - task/bun

test_update_submission:
  stage: test
  script:
     - python -m unittest tests.test_ingest.TestRun.test_updates_run
  only:
    - dev
    - integration
    - staging

test_add_new_bundle:
  stage: test
  script:
    - python -m unittest tests.test_add_bundle.run
  only:
    - dev
    - integration
    - staging

before_script:
  - apt-get -y update
  - apt-get -y install jq
  - pip install -r requirements.txt
  - export DEPLOYMENT_ENV=$CI_COMMIT_REF_NAME
  - aws secretsmanager get-secret-value --region us-east-1 --secret-id dcp/ingest/${DEPLOYMENT_ENV}/gcp-credentials.json | jq -r .SecretString > gcp-credentials.json
  - export GOOGLE_APPLICATION_CREDENTIALS=$(pwd -P)/gcp-credentials.json
